<h1>Демонстрация возможностей системы</h1>

<h3>Обзор модели</h3>
<p>
  Демонстрация матрицы компетенций с выделением основных критериев для каждой должности<br>
  и перечнем поведенческих индикаторов
</p>

<h3>Оценка</h3>
<p>
  Выбрав сотрудника из списка пользователей, можете провести оценку его компетенций,<br>
  выставляя галочки напротив каждого из поведенческих индикаторов
</p>

<h3>Отчетность</h3>
<p>
  На странице отчетов можно увидеть результаты оценки для каждого сотрудника.<br>
  затем отчет может быть отправлен сотруднику по электронной почте
</p>

<h3>Администрирование</h3>
<p>Описание функциональных возможностей - на странице "Админка"</p>

