<h1>Поведенческие индикаторы</h1>
<table>
  <tr>
    <td>Кластер компетенций: </td>
    <td><strong><%= @cluster.title %></strong></td>
    <td> </td>
    <td>Компетенция: </td>
    <td><strong><%= @competency.title %></strong></td>
    <td>Должность: </td>
    <td><strong><%= @position.title %></strong></td>
    <td> </td>
  </tr>
</table>

<div class="coda-slider"  id="slider-id">
  <div>
    <h2 class="title">Начинающий</h2>  <!-- http://jsfiddle.net/a7qJt/ -->
    <p>Behavior 1</p>
    <p>Behavior 2</p>
    <p>Behavior 3</p>
    <p>Behavior 4</p>
  </div>
  <div>
    <h2 class="title">Специалист</h2>
    <p>Behavior 1</p>
    <p>Behavior 2</p>
    <p>Behavior 3</p>
    <p>Behavior 4</p>
  </div>
  <div>
    <h2 class="title">Профессионал</h2>
    <p>Behavior 1</p>
    <p>Behavior 2</p>
    <p>Behavior 3</p>
  </div>
  <div>
    <h2 class="title">Эксперт</h2>
    <p>Behavior 1</p>
    <p>Behavior 2</p>
    <p>Behavior 3</p>
    <p>Behavior 4</p>
    <p>Behavior 5</p>
  </div>
</div>
